@charset "utf-8";
/* CSS Document */

/* Background */
body{
}

/* Logo */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Font*/
.font{
	font-family: "Century Gothic";
}


